<div class="container">
  <h1>Welcome to my awesome app!</h1><br><br>
    <form [formGroup]="loginForm">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" 
        placeholder="Enter your username" name="username" formControlName="username">
      </div>

      <div *ngIf="username.invalid && (username.dirty || username.touched)">
        <div *ngIf="username.errors.required">
          Username is required.
        </div>
        <div *ngIf="username.errors.minlength">
          Username must be at least 4 characters long.
        </div>
        <div *ngIf="username.errors.email">
          Username must be email address.
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password"
        placeholder="Enter your password" name="password" formControlName="password">
      </div>

      <div *ngIf="password.invalid && (password.dirty || password.touched)">
        <div *ngIf="password.errors.required">
          Password is required.
        </div>
        <div *ngIf="password.errors.minlength">
          Password must be at least 4 characters long.
        </div>
        <div *ngIf="password.errors.maxlength">
          Password can't be more than 12 characters long.
        </div>
      </div>

      <button (click)="onLoginClick()" type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
